server:
  port: 8085

spring:
  application:
    name: api-gateway

  webflux:
    static-path-pattern: /static/**

  web:
    resources:
      static-locations: classpath:/static/

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8088/realms/microservices-realm}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8088/realms/microservices-realm/protocol/openid-connect/certs}

  cloud:
    gateway:
      routes:
        - id: product-service
          uri: ${PRODUCT_SERVICE_URI:http://localhost:8081}
          predicates:
            - Path=/products/**

        - id: order-service
          uri: ${ORDER_SERVICE_URI:http://localhost:8082}
          predicates:
            - Path=/orders/**

        - id: health-dashboard
          uri: ${GATEWAY_URI:http://localhost:8085}
          predicates:
            - Path=/dashboard/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always
      show-components: always
    gateway:
      enabled: true
  info:
    env:
      enabled: true

info:
  app:
    name: API Gateway
    description: Central gateway for microservices
    version: 1.0.0

logging:
  level:
    ma.enset.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
