server:
  port: 8085

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8088/realms/microservices-realm}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8088/realms/microservices-realm/protocol/openid-connect/certs}

  cloud:
    gateway:
      routes:
        - id: product-service
          uri: ${PRODUCT_SERVICE_URI:http://localhost:8081}
          predicates:
            - Path=/products/**

        - id: order-service
          uri: ${ORDER_SERVICE_URI:http://localhost:8082}
          predicates:
            - Path=/orders/**
